body {
	background: #282875;
	padding-top:60px;
}

.copyrights {
	color: white;
	font-size: 16px;
}

.hidden {
	display: none;
}
.Poprawnie {
	color: white;
	font-size: 40px;
		}
.Transporter {
	color: white;
	font-size: 40px;
	}